<a [routerLink]="['/institucional/noticias/noticia', noticia['titulo']]">
  <div class="card text-center responsividadeCard">
    <img *ngIf="!hasImage" class="card-img" src="assets/img/noticias-card/square_red.png" [alt]="noticia['titulo']">
    <img *ngIf="hasImage" class="card-img" [src]="source" [alt]="noticia['titulo']">
    <div class="card-img-overlay d-flex justify-content-center align-items-center" id="overlay">
      <h5 class="card-title">{{noticia['titulo']}}</h5>
    </div>
    <div class="card-footer text-muted">
      Publicado há {{noticia['createdAt'] | dateAgo}}
    </div>
  </div>
</a>