<a [routerLink]="['/institucional/eventos/evento', evento['titulo']]">
  <div class="card text-center responsividadeCard">
    <img *ngIf="!hasImage" class="card-img" src="assets/img/eventos-card/square_red.png" [alt]="evento['titulo']">
    <img *ngIf="hasImage" class="card-img" [src]="source" [alt]="evento['titulo']">
    <div class="card-img-overlay d-flex justify-content-center align-items-center" id="overlay">
      <h5 class="card-title">{{evento['titulo']}}</h5>
    </div>
    <div class="card-footer text-muted">
      Data do Evento: {{evento['date'] | date: 'dd/MM/yyyy' : "UTC"}}
    </div>
  </div>
</a>