<div class="container-fluid marginTopBottomContentContainerAdminPanel">
    <div>
        <div class="row">
            <div class="col-sm-6 positionTitle">
                <h5>Atualizar projetos</h5>
            </div>
            <p class="col-sm-6 positionRequired">
                * Campos obrigatórios
            </p>
        </div>
        <div>
            <form [formGroup]="projetoForm" novalidates>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="titulo" class="form-control-label">Titulo <span class="text-danger">*</span></label>
                        <input type="text" name="titulo" class="form-control" placeholder="Título"
                            formControlName="titulo" id="titulo">
                        <!-- <small *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="text-danger">
                            <div *ngIf="titulo.errors.required">
                                Título é obrigatório.
                            </div>
                        </small> -->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="descricao" class="form-control-label">Descrição <span
                                class="text-danger">*</span></label>
                        <input type="text" name="descricao" class="form-control" placeholder="Descrição"
                            formControlName="descricao">
                        <!-- <small *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" class="text-danger">
                            <div *ngIf="descricao.errors.required">
                                Descrição é obrigatório.
                            </div>
                        </small> -->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="dataInicio" class="text-center">Data Início <span
                                class="text-danger">*</span></label><br>
                        <input type="date" name="dataInicio" class="form-control" placeholder="Data de Início"
                            formControlName="dataInicio">
                        <!-- <small *ngIf="dataInicio.invalid && (dataInicio.dirty || dataInicio.touched)"
                            class="text-danger">
                            <div *ngIf="dataInicio.errors.required">
                                Data inicio é obrigatório.
                            </div>
                        </small> -->
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="dataFim" class="text-center">Data Fim</label><br>
                        <input type="date" name="dataFim" class="form-control" placeholder="Data Fim"
                            formControlName="dataFim">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="integrantes" class="form-control-label">Integrantes do Projeto</label>
                        <ngx-select formControlName="integrantes" id="integrantes" [multiple]="true"
                            [items]="selectedIntegrantes" [autoClearSearch]="true" placeholder="Selecione">
                        </ngx-select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12 positionButtons">
                        <button type="button" class="btn btn-outline-danger btn-sm"
                            (click)="canCancel()">Cancelar</button>
                        <button type="button" class="btn btn-outline-success btn-sm" (click)="putProjeto()">Salvar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>