.info-extension-file {
    color: #da1b41;
    font-style: italic;
    font-size: 12px;
    margin-top: -20px;
    text-align: start;
}

.form-label-register {
    font-size: smaller;
    color: #7e87a0;
    margin-left: 6px;
    cursor: pointer;
}