<div class="container-fluid marginTopBottomContentContainerAdminPanel">
  <div>
    <div class="row">
      <div class="col-sm-6 positionTitle">
        <h5>Sobre o GPES</h5>
      </div>
    </div>
    <br>
    <div class="col-12 center">
      <img class="rounded float-left image" src="assets/img/gpes/logo-gpes-completa-colorida.png"
       alt="Imagem não definida">
       <p class="text"> 
        Somos um Grupo de Pesquisa em Engenharia de Sofware (GPES), tendo como foco pesquisas na área de Interação Humano-Computador, englobando desde a avaliação de usabilidade até as metodologias de desenvolvimento de software e sua implementação. É um grupo de iniciação científica da Faculdade de Tecnologia de Taquaritinga, com incentivo da Direção para o desenvolvimento de pesquisas que possam contribuir para o avanço nacional e internacional. 
      </p>
    </div>
    
    <div class="col-12 center">      
      <p class="text">
        Seu início foi em fevereiro de 2011 e desde sua fundação o grupo desenvolveu mais de vinte projetos, tendo várias publicações e participações em diversos eventos nacionais e internacionais. Já passaram pelo grupo muitos alunos que puderam contribuir com o seu desenvolvimento e apontaram que a importância se dá no processo de aprendizagem que contribui tanto na preparação pessoal quanto para continuidade acadêmica e para o mercado de trabalho. A professora Dra. Daniela Gibertoni que coordena o grupo desde sua fundação, contribui com a expansão do conhecimento para além das fronteiras da faculdade. O grupo visa trabalhar com parceiros e empresas conveniadas que buscam a qualidade dos serviços prestados e que se alinhem às linhas de pesquisas: Avaliações de usabilidade e Processos de desenvolvimento de software.
      </p> 
     
    </div>
    <div class="col-9 center">
      <div class="container">
        <hr>
        <h5 class="title">Equipe de Desenvolvimento</h5>

        <div class="row">
          <div class="col-sm bloco">
            <h5>Profª. Drª. Daniela Gibertoni</h5>
            <h6>Coordenadora do Grupo</h6>
          </div>
          <div class="col-sm bloco">
            <h5>Andrew Serati</h5>
            <h6>Análise e Desenvolvimento de Sistemas</h6>
          </div>
          <div class="col-sm bloco">
            <h5>Hygor Podgornik</h5>
            <h6>Análise e Desenvolvimento de Sistemas</h6>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm bloco">
            <h5>Ian Rotondo Bagliotti</h5>
            <h6>Análise e Desenvolvimento de Sistemas</h6>
          </div>
          <div class="col-sm bloco">
            <h5>Stella Celentano</h5>
            <h6>Análise e Desenvolvimento de Sistemas</h6>
          </div>
          <div class="col-sm bloco">
            <h5>Vitor Luis dos Santos</h5>
            <h6>Análise e Desenvolvimento de Sistemas</h6>
          </div>        
        </div>
  
        <div class="row">
          <div class="col-sm bloco">
            <h5>Yuri Yan Guimarães</h5>
            <h6>Análise e Desenvolvimento de Sistemas</h6>
          </div>
          <div class="col-sm bloco">
          </div>
          <div class="col-sm bloco">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>