<div class="container-fluid marginTopBottomContentContainerAdminPanel">
    <div>
        <div class="row">
            <div class="col-sm-1 positionTitle">
                <h5>Inscritos</h5>
            </div>
            <div class="col-sm-7 positionTitle">
                <h5 *ngIf="selecao"> - &nbsp; {{selecao['titulo']}} - {{selecao['dataInicio'] |
                    date: 'dd/MM/yyyy':"UTC"}} a {{selecao['dataFim'] | date: 'dd/MM/yyyy':"UTC"}}</h5>
            </div>
            <div class="col-sm-4 positionButtons">
                <button type="button" class="btn btn-outline-info-dkblue btn-sm" (click)="openModal(template1)">Enviar Email</button>
                <button type="button" class="btn btn-outline-info-dkblue btn-sm" (click)="exportExcel()">Exportar
                    Planilha</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p *ngIf="selecao">{{selecao['descricao']}}</p>
            </div>
        </div>
        <app-loading [condition]="isLoading"></app-loading>
        <div class="table-responsive" id="marginTopTable">
            <table *ngIf="!isLoading && statusResponse == 200" class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Semestre</th>
                        <th scope="col">Período</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inscrito of selecao['inscritos'] | slice:0:limiteValor"
                        [routerLink]="['/admin/processo-seletivo/selecao/detalhes-inscrito', inscrito['nome']]"
                        class="pointer hoverRowTable">
                        <th>{{inscrito.nome | slice: 0:50}}
                            <span *ngIf="showEllipsisInTheText(inscrito.nome, 50)">...</span>
                        </th>
                        <td>{{inscrito.curso}}</td>
                        <td>{{inscrito.semestre}}</td>
                        <td>{{inscrito.periodo}}</td>
                        <td>{{inscrito.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="botaoAtivo"><button (click)="carregarMais()">Carregar Mais</button></div>
        <br>
        <div fxLayout="column" fxLayoutAlign="center center" > <h5>Gráficos</h5></div>
        <br>
        <br>
        <div fxLayout="column" fxLayoutAlign="space-between start" >   
            <h5>Curso</h5>
            <ngx-charts-bar-horizontal
            [view]="[700,250]"
            [results]="cursoData"
            [gradient]="false"
            [xAxis]="false"
            [yAxis]="true"
            [legend]="false"
            [showDataLabel]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="false"
            [yAxisLabel]= "'Curso'"
            ></ngx-charts-bar-horizontal>
        <div>
             <br>  
             <br>   
        <div fxLayout="column" fxLayoutAlign="space-between start" >
            <h5>Período</h5>   
            <ngx-charts-bar-horizontal
                [view]="[700,250]"
                [results]="periodoData"
                [gradient]="false"
                [xAxis]="false"
                [yAxis]="true"
                [legend]="false"
                [showDataLabel]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="false"
                [yAxisLabel]= "'Periodo'">
            </ngx-charts-bar-horizontal>
        </div>
            <br>
            <br>
        <div fxLayout="column" fxLayoutAlign="space-between start" > 
            <h5>Semestre</h5>
            <ngx-charts-bar-horizontal
            [view]="[700,250]"
            [results]="semestreData"
            [gradient]="false"
            [xAxis]="false"
            [yAxis]="true"
            [legend]="false"
            [showDataLabel]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="false"
            [yAxisLabel]= "'Semestre'">
            </ngx-charts-bar-horizontal>       
        </div> 
        <app-no-data *ngIf="!isLoading && statusResponse == 204 && !selecao"></app-no-data>
        <app-error *ngIf="!isLoading && statusResponse != 200 && statusResponse != 204 && !selecao">
        </app-error>
    </div>
</div>

<ng-template #template1>
    <div>
      <div class="modal-header">
        <h5 class="modal-title">Enviar e-mail aos Inscritos</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="emailForm" novalidates>
          <div class="form-group">
            <label for="assunto" class="form-control-label">Assunto <span class="text-danger">*</span></label>
            <input type="text" name="assunto" class="form-control" placeholder="Digite o Assunto"
            formControlName="assunto">            
          </div>
          <div class="form-group">
            <label for="mensagem" class="form-control-label">Mensagem <span class="text-danger">*</span></label>
            <textarea class="form-control" type="text" name="mensagem" id="mensagem" placeholder="Digite a mensagem" formControlName="mensagem"></textarea>
            <small *ngIf="emailForm.invalid && (emailForm.dirty || emailForm.touched)" class="text-danger">
              <div>
                Os campos acima são obrigatórios.
              </div>
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="Cancel()">Cancelar</button>
        <button type="button" class="btn btn-outline-success btn-sm" (click)="sendEmail()" [disabled]="emailForm.invalid">Enviar</button>
      </div>
    </div>
</ng-template>