<div class="container-fluid marginTopBottomContentContainerAdminPanel">
  <div>
    <div class="row">
      <div class="col-sm-6 positionTitle">
        <h5>Eventos</h5>
      </div>
      <div class="col-sm-6 positionButtons">
        <button type="button" class="btn btn-outline-success btn-sm botao"
          [routerLink]="['/admin/eventos/criar']">Adicionar</button>
      </div>
    </div>
    <app-loading [condition]="isLoading"></app-loading>
    <div class="table-responsive">
      <table *ngIf="!isLoading && statusResponse == 200" class="table">
        <thead>
          <tr>
            <th *ngFor="let item of headTableItems" scope="col" class="pointer headTable"
              (click)="onClickSortTable(item)" tooltip="Ordenar por {{item['option']}}" placement="top" [delay]="750">
              {{item['option']}}
              <span><i class="pull-right rotate fa"
                  [ngClass]="{'i-active': item === sortSelectedItem, 'fa-chevron-down': this._service.params.get('valueSort') == 'descending', 'fa-chevron-up': this._service.params.get('valueSort') == 'ascending'}"></i></span>
            </th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evento of eventos | paginate: {itemsPerPage: limit, currentPage: p, totalItems: total}"
            [routerLink]="['/admin/eventos/detalhes', evento['titulo']]" class="pointer hoverRowTable">
            <th scope="row">{{evento.titulo | slice: 0:30}}
              <span *ngIf="showEllipsisInTheText(evento.titulo, 30)">...
              </span>
            </th>
            <td>{{evento['date'] | date: 'dd/MM/yyyy' : "UTC"}}</td>
            <td (click)="$event.stopPropagation()">
              <button class="btn btn-outline-warning btn-sm"
                [routerLink]="['/admin/eventos/atualizar', evento['titulo']]">Editar</button>
              <button *ngIf="isAdmin" class="btn btn-outline-danger btn-sm"
                (click)="canDelete(evento['titulo'], evento['_id'])">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-no-data *ngIf="!isLoading && statusResponse == 204 && !eventos"></app-no-data>
    <app-error *ngIf="!isLoading && statusResponse != 200 && statusResponse != 204 && !eventos"></app-error>
    <nav *ngIf="eventos">
      <ul class="pagination">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)" previousLabel="Anterior"
          nextLabel="Próximo">
        </pagination-controls>
      </ul>
    </nav>
  </div>
</div>