<div class="container-fluid marginTopBottomContentContainerAdminPanel">
  <app-loading [condition]="isLoading"></app-loading>
  <div *ngIf="!isLoading && statusResponse == 200">
    <div class="row">
      <div class="col-sm-6 positionTitle">
        <h5>{{faq['pergunta']}}</h5>
      </div>
      <div class="col-sm-6 positionButtons">
        <button type="button" class="btn btn-outline-warning btn-sm"
        [routerLink]="['/admin/faq/atualizar', faq['pergunta']]">Editar</button>
        <button *ngIf="isAdmin" type="button" class="btn btn-outline-danger btn-sm"
        (click)="delete(faq['_id'], faq['pergunta'])">Excluir</button>
      </div>
    </div>
    <br>
    <div>
      <div class="row">
        <div class="col-sm-12">
          <label class="form-control-label">Pergunta</label>
          <div>
            {{faq['pergunta']}}
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <label class="form-control-label">Resposta</label>
          <div>
            {{faq['resposta']}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>