.texto {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 1%;
}

.data {
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

.titulo {
    text-align: center;
}