<div class="container-fluid marginTopBottomContentContainerAdminPanel">
  <div>
    <div class="row">
      <div class="col-sm-6 positionTitle">
        <h5>
          Adicionar Dúvida Frequente
        </h5>
      </div>
      <p class="col-sm-6 positionRequired">
        * Campos obrigatórios
      </p>
    </div>
    <div>
      <form [formGroup]="faqForm" novalidates>
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="pergunta" class="form-control-label">Pergunta <span class="text-danger">*</span></label>
            <textarea rows="5" type="text" name="pergunta" class="form-control" placeholder="Informe a pergunta"
              formControlName="pergunta" [(ngModel)]="rolePergunta" [maxLength]="maxCharsPergunta"></textarea>
              <small *ngIf="pergunta.invalid && (pergunta.dirty || pergunta.touched)" class="text-danger">
                <div *ngIf="pergunta.errors.required">
                Pergunta é obrigatório.
              </div>
              <div *ngIf="pergunta.errors.faqPerguntaAlreadyExists">
                Essa pergunta já existe.
              </div>
            </small>
          </div>
          <span class="col-sm-12 countChars">
            {{rolePergunta.length}}/{{maxCharsPergunta}}
          </span>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="resposta" class="form-control-label">Resposta <span class="text-danger">*</span></label>
            <textarea rows="8" type="text" name="resposta" class="form-control" placeholder="Informe a resposta"
              formControlName="resposta" [(ngModel)]="roleResposta" [maxLength]="maxCharsResposta"></textarea>
            <small *ngIf="resposta.invalid && (resposta.dirty || resposta.touched)" class="text-danger">
              <div *ngIf="resposta.errors.required">
                Resposta é obrigatório.
              </div>
            </small>
          </div>
          <span class="col-sm-12 countChars">
            {{roleResposta.length}}/{{maxCharsResposta}}
          </span>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12 positionButtons">
            <button type="button" *ngIf="faqForm.dirty" class="btn btn-outline-danger btn-sm"
              (click)="cancelar()">Cancelar</button>
            <button type="button" class="btn btn-outline-success btn-sm" 
            [disabled]="!faqForm.valid" (click)="post(faqForm.value)">Adicionar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>