<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <div class="sidenav-header  align-items-center">
      <a [routerLink]="['/admin/analytics']">
        <img src="assets/img/brand/logoGPES.png" class="logo-image-sidenav">
      </a>
    </div>
    <div class="navbar-inner">
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li *ngIf="isAdmin" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin/analytics']">
              <span class="nav-link-text">Estatísticas do Site</span>
            </a>
          </li>
          <li *ngIf="isAdmin" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin/home']">
              <span class="nav-link-text">Página Incial</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin/sobre']">
              <span class="nav-link-text">Sobre</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin/projetos']">
              <span class="nav-link-text">Projetos</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin/eventos']">
              <span class="nav-link-text">Eventos</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin/publicacoes']">
              <span class="nav-link-text">Publicações</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin/contato']">
              <span class="nav-link-text">Contato</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin/integrantes']">
              <span class="nav-link-text">Integrantes</span>
            </a>
          </li>
          <li class="nav-item dropdown" routerLinkActive="active" style="cursor: pointer;">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
              <span class="nav-link-text">Processo Seletivo</span>
            </a>
            <ul class="dropdown-menu pointer">
              <li>
                <a class="nav-link" [routerLink]="['/admin/processo-seletivo/processo']">
                  <span class="nav-link-text">Informações</span>
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/admin/processo-seletivo/selecao']">
                  <span class="nav-link-text">Seleções</span>
                </a>
              </li>
            </ul>
          </li>
          <li *ngIf="isAdmin" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin/usuario']">
              <span class="nav-link-text">Usuários</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>