<div class="container-fluid marginTopBottomContentContainer">
  <h2 class="titlePage">Eventos</h2>
  <hr>
  <div class="alinhar">
    <h5>Estes são os eventos em que a equipe do Grupo de Pesquisa em Engenharia de Software participou, eventos do tipo palestras, conferências, encontros, simpósios etc.</h5>
  </div>
  <br>
  <div>
    <div class="btnPeriodSearch">
      <div class="btn-group marginDropdown" dropdown>
        <button id="button-basic" dropdownToggle type="button"
          class="btn btn-outline-info-dkblue btn-sm dropdown-toggle" aria-controls="dropdown-basic">
          Ordenar por <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuItem">
            <a *ngFor="let item of dropdownOrderMenuItems" class="dropdown-item"
              [class.active]="item === dropdownOrderSelectedItem"
              (click)="onSelectOrderDropdownMenu(item)">{{item.option}}</a>
          </li>
        </ul>
      </div>
      <!-- Botão para acionar modal -->
      <button type="button" class="btn btn-outline-info-dkblue btn-sm" data-toggle="modal"
        data-target="#modalPeriodSearch">
        Buscar por palavra-chave
      </button>
      <!-- Modal -->
      <div class="modal fade" id="modalPeriodSearch" tabindex="-1" role="dialog"
        aria-labelledby="modalPeriodSearchLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalPeriodSearchLabel">Buscar por palavra-chave</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="keywordFilterForm" novalidate>
                <div class="form-row align-items-center alignContentInsideModal">
                  Palavra-chave &nbsp;
                  <div class="col-sm-6 my-1">
                    <input type="text" class="form-control" formControlName="keyword">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button *ngIf="!keywordFilterForm.pristine" type="submit" class="btn btn-outline-danger btn-sm"
                (click)="onClickCleanInputFieldsDateSearch()"><b><i class="fas fa-eraser"></i></b></button>
              <button #closeModal type="submit" class="btn btn-outline-info-dkblue btn-sm" data-dismiss="modal"
                (click)="onClickFilterKeyword()" [disabled]="!keywordFilterForm.valid"><b><i
                    class="fa fa-search"></i></b></button>
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="filterKeyword || filterOrder" type="button" class="btn btn-outline-danger btn-sm marginClearFilter"
        (click)="clearConditions()">Limpar
        filtros </button>
    </div>

    <div *ngIf="filterKeyword" class="btnPeriodSearch">
      <span class="span-info-filter">Exibindo resultados para a busca da palavra-chave: {{keyword}}</span>
    </div>
    <div *ngIf="filterOrder" class="btnPeriodSearch">
      <span class="span-info-filter">Ordenando arquivos por: {{dropdownOrderSelectedItem['option']}}</span>
    </div>

    <br *ngIf="!filterKeyword && !filterOrder" />
    <app-loading [condition]="isLoading"></app-loading>
    <div class="row" *ngIf="eventos && statusResponse == 200">
      <div *ngFor="let evento of eventos | paginate: {itemsPerPage: limit, currentPage: p, totalItems: total}"
        class="col-md-4" id="marginBottomCardsCol">
        <app-evento-card [evento]="evento"></app-evento-card>
      </div>
    </div>
    <div *ngIf="!isLoading && statusResponse == 204 && !eventos">
      <app-no-data></app-no-data>
    </div>
    <div *ngIf="!isLoading && statusResponse != 200 && statusResponse != 204 && !eventos">
      <app-error></app-error>
    </div>
    <br />
    <nav *ngIf="eventos">
      <ul class="pagination">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)" previousLabel="Anterior"
          nextLabel="Próximo">
        </pagination-controls>
      </ul>
    </nav>
  </div>
</div>