.sizeTextCard {
    height: 150px;
    text-align: center;
    text-justify: inter-word;
}

.alinhar{
    text-align: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}